<div class="container">
  <input
    type="text"
    placeholder="Buscar..."
    [(ngModel)]="terminoBusqueda"
    class="search-bar"
  />

  <!-- <div *ngFor="let elemento of elementosFiltrados" class="card">
    <h2>{{ elemento.titulo }}</h2>
    <p>{{ elemento.descripcion }}</p>
  </div> -->
  <div class="card">
    <h2>Paciente: Juan Perez</h2>
    <p>DIAGNOSTICO: neumonia</p>
    <p>Fuente de Consulta: Hospital de Villanueva</p>
    <p>Fecha: 02-06-2023</p>

  </div>
  <div class="card">
    <h2>Paciente: Juan Perez</h2>
    <p>DIAGNOSTICO: Hipertención</p>
    <p>Fuente de Consulta: Hospital de Occidente</p>
    <p>Fecha: 02-10-2023</p>

  </div>
  <div class="card">
    <h2>Paciente: Juan Perez</h2>
    <p>DIAGNOSTICO: Fractura de Femur</p>
    <p>Fuente de Consulta: Hospital de Tecpán Guatemala</p>
    <p>Fecha: 17-12-2024</p>

  </div>


</div>
